body {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient( rgb(255, 255, 255, 0.7), rgb(255, 255, 255, 0.8)), url(../images/asdf.png);

}
.container {
  width: 400px;
  clear: both;
}

.container input {
  width: 50%;
  clear: both;
}
.jumbotron {
     height: 50px;
     background-color:#fd7e14;
     color: #333;
     padding-top: 10px;
     margin-bottom: 0;
     border-radius: 0px;
   }
input[type=button] {
  width: 30%;
  height: 0%;
  background-color: #4CAF50;
  color: yellow;
  padding: 12px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  position: static;
}

input[type=button]:hover {
  background-color: #45a049;
}
input[type=text] {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
.container-fluid {
  width: 100%;
  padding-right: 0px;
  padding-left: 0px;
  margin-right: auto;
  margin-left: auto;
}
input {
  display: block;
  width: 40%;
  height: 30px;
  border-width: 0 0 2px 0;
  border-color: #333;
  background-color: transparent;
}
input:focus {
  outline: none;
}
.fillForm {
  align-content: center;
}
.row {
  margin-top: 50px;
  margin-bottom: 50px;
}

.card-title {
  margin-bottom: 0.75rem;
  margin-left: 22px;
}

p{
  text-align: center;
}
.form {
     width: 50%;
     margin-left: 40px;
   }
label {
     color: #333;
     font-size: 20px;
     margin-top: 0px;
 }
 #reveal-result {
  height: 50px;
  width: 50%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 5px;
  background-color: transparent;
  border: dotted darkviolet;
  border-radius: 10px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  font-weight: 700;
  color: #333;
  font-style: italic;
  text-align: center;
  position: relative;
}
.footer {
  height: 50px;
  width: 100%;
  background-color: #333;
  display: inline-flex;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 7px;
  color: white;
  align-items: center;
  justify-content: center;
  font-style: italic;
  font-weight: 700;
}